<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Son|Porfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'customize.css' %}">
  <script src="https://kit.fontawesome.com/8bb942829c.js" crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column min-vh-100">

  <head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <div class="container-fluid mx-4">
        <a class="navbar-brand" href="/">
          <img
            src="https://cdn.shopify.com/s/files/1/0014/1962/products/product_bloodborne_caryll_runes_designview_1024x1024.png?v=1570220575"
            alt="" width="30" height="35" />

          Son's blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto fs-5">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-house"></i> ホーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ja/about"><i class="fa-solid fa-user"></i> 情報</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project"><i class="fa-solid fa-chalkboard"></i> プロジェクト</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ja"><i class="fa-solid fa-globe"></i> 日本語</a>
            </li>
            <li class="nav-item">
              <div class="pt-2">
                <input class="darkmode-input" type="checkbox" id="darkmode-toggle" onclick="Darkmode()">
                <label class="darkmode" for="darkmode-toggle">
                  <i class="fa-regular fa-moon"></i>
                  <i class="fa-solid fa-sun"></i>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <div class="container">
    <section class="home my-5" id="home">
      <div class="row">
        <div class="col-md-6">
          <div class="content">
            <div class="heading">
              <h2>こんにちは!</h2>
            </div>
            <div class="heading">
              <h2>グエン　ホアン <span>そん</span>です！</h2>
            </div>
            <div class="introduce">
              <h3>自分が好きな仕事は
                <span class="typewritter-wrapper" id="typewritter"></span>
                <span class="typewritter-cursor">|</span>
              </h3>
            </div>
            <div class="introduce-social text-center mt-5 pt-2 mb-2">
              <span>もっと私について調べると <i class="fas fa-arrow-circle-down"></i></span>
            </div>
            <div class="socials text-center">
              <ul class="social-icons mx-2">
                <li><a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/son-nguyen-hoang-459006244/"
                    target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a class="github" aria-label="GitHub" href="https://github.com/Klaze41" target="_blank">
                  <i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="image">
            <img
              src="{% static '/project-image/home.jpeg' %}"
              class="img-fluid rounded mx-auto d-block" alt="profile" width="350" height="400">
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="mt-auto">
    <div class="footer container-fluid pt-3">
      <div class="row">
        <div class="footer-copyright col-md-4">
          <h5>Designed and Developed by Hoang Son</h5>
        </div>
        <div class="footer-body col-md-4">
        </div>
        <div class="footer-body col-md-4">
          <ul class="social-icons  ">
            <li class="social-icons"><a class="linkedin" aria-label="LinkedIn"
                href="https://www.linkedin.com/in/son-nguyen-hoang-459006244/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="social-icons"><a class="github" aria-label="GitHub" href="https://github.com/Klaze41"
                target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="{% static 'customize-ja.js'%}"></script>



</body>


</html>